body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
}

#todo-list {
    max-width: 300px;
    margin: 0 auto;
    list-style: none;
    border-top: 1px solid lightgray;
    padding: 0;
}

.todo-list-item {
    margin: .5em;
}

.todo-list-item.completed {
    color: gray;
    text-decoration: line-through;
}
